
</div>
<div class="footer-padding"></div>
  <div class="footer">
    <p>OK$ Crypto Network</p>
    <ul class="links">
      <li>HOME</li>
      <li>ABOUT US</li>
      <li>CONTACT US</li>
      <li>GUIDE</li>
    </ul>
  </div>
</div>
</body>
</html>
